@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  background: #F5F6FA;
  margin: 0;
  padding: 0;
  color: #1F2937;
}

